<!DOCTYPE html>
<html>

<head>
	<title>About</title>
  <% include partials/links.ejs %>
</head>
<body>
  <% include partials/nav.ejs %>

  <br>
  <h1 class="text-center">About Us</h1>
  <hr>
  <br>

  <div  class="boxed">
  <p id="para-1">

    The Bus Stops Here system is a web based application for busy commuters to access bus
    timetables and plan their bus journeys accurately and efficiently.
    <br>
    A simple and clear user interface will allow quick access to precise Dublin Bus start and arrival times collated from open source GPS bus Sat-Nav data.
    <br>
    This real-world data will allow the end user to plan their journey in confidence
    and avoid unnecessary delays and frustration. There will be casual users (non-account holders)
    and signed-in users (account holders).
    <br>
    The casual users can access bus and journey times by
    navigating the user-friendly user interface.


  </p>
  </div>
  </div>
  <h1 class="text-center">Meet our team!</h1>
  <hr>

  <div class="Grid-container2">

    <div class="gridItem2">
      <img id="image" src="images/ciaran.png">


    </div>

    <div class="gridItem2">
      <img id="image" src="images/katie.jpg">


    </div>

    <div class="gridItem2">
      <img id="image" src="images/shaunagh.png">


    </div>

    <div class="gridItem2">
      <img id="image" src="images/justin.jpg">


    </div>
    <div class="gridItem2">
      <img id="image" src="images/conor.jpg">
    </div>
  </div>
<script src="bus.js"></script>
</body>
</html>
