<!DOCTYPE html>
<html>
  <head>
    <title>The Bus Stops Here</title>
    <% include partials/links.ejs %>
  </head>
    <body>
    <% include partials/nav.ejs %>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div id="content">
                        <h1 class="heads">The Bus Stops Here</h1>
                        <h3 class="heads">The last and only route planner you will ever need </h3>
                            <hr>
                            <a href="stopfinder"> <button id="selectRoute"class="btn btn-default btn-lg"> <i class="fas fa-bus"></i>Get Started</button></a>
                    </div>
                </div>
            </div>
        </div>
        <script src="bus.js"></script>
    </body>
</html>
