<!DOCTYPE html>
<html lang="en">
<head><!-- 
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />  -->
  <% include partials/links.ejs %>
  <title>The Bus Stops Here</title><!-- 
  <link rel="stylesheet" href="style2.css"> -->
</head>
<body>
  <% include partials/nav.ejs %> 
  <br>
  <div>
    <h1 id="favouriteStopTitle">Loading ...</h1>
  </div>
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <!--card-->
        <div class="col-md-4">
          <div class="card card-chart">
            <div class="card-header card-header-success">
              Choose your journey!
            </div>
            <div id="journey-card"  class="card-body">
              <h5>Loading...</h5>
            </div>
            <div class="card-footer">
            </div>
          </div>
          <br>
        </div>
        <!--card-->
        <div class="col-md-4">
          <div class="card card-chart">
            <div class="card-header card-header-success">
              Choose a stop!
            </div>
            <div id="stops-card"  class="card-body">
              <h5>Loading...</h5>
            </div>
            <div class="card-footer">
            </div>
          </div>
          <br>
        </div>
        <!--card-->
        <div class="col-md-4">
          <div class="card card-chart">
            <div class="card-header card-header-success">
              Plan a journey
            </div>
            <input type="text" id="enterJourneyDescription"  placeholder="Enter Journey Description">
            <div id="add-journey-card"  class="card-body">
            </div>
            <div class="card-footer">
                <div id = 'addstoptojourney-seg' class = 'bus-card-seg'>
                    Click to add another stop to your journey
                    <button id='addstoptojourney-button' class = 'btn btn-lg btn-sm'>+</button>
                </div>
                <div id = 'addstoptojourney-seg' class = 'bus-card-seg'>
                    Click to delete a stop from your journey
                    <button id='removestopfromjourney-button' class = 'btn btn-lg btn-sm'>-</button>
                </div>
                <div id = 'addjourney-seg' class = 'bus-card-seg'>
                    Save journey
                    <button id = 'addjourney-button' class = 'btn btn-lg btn-sm'>Submit</button>
                </div>
            </div>
          </div>
          <br>
        </div>
          <!--card-->
      </div>
      <!-- Between the rows -->
      <div class="row">
          <!--card-->
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="card card-stats">
            <div class="card-header card-header-warning card-header-icon">
              <div class="card-icon">
                <i class="material-icons">account_balance_wallet</i>
              </div>
              <p class="card-category">Amount spent on travel</p>
              <h3 class="card-title"><small>€</small>30.29

              </h3>
            </div>
            <div class="card-footer">
              <div>
              </div>
            </div>
          </div>
          <br>
        </div>
          <!--card-->
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="card card-stats">
            <div class="card-header card-header-success card-header-icon">
              <div class="card-icon">
                <i class="material-icons">store</i>
              </div>
              <p class="card-category">Number of journeys</p>
              <h3 class="card-title">60</h3>
            </div>
            <div class="card-footer">
              <div class="stats"><!--
                <i class="material-icons">date_range</i> Last 24 Hours-->
              </div>
            </div>
          </div>
          <br>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="card card-stats">
            <div class="card-header card-header-danger card-header-icon">
              <div class="card-icon">
                <i class="material-icons">info_outline</i>
              </div>
              <p class="card-category">Average journey length</p>
              <h3 class="card-title">2:10</h3>
            </div>
            <div class="card-footer">
              <div class="stats"><!--
                <i class="material-icons">local_offer</i> Tracked from Github-->
              </div>
            </div>
          </div>
          <br>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="card card-stats">
            <div class="card-header card-header-info card-header-icon">
              <div class="card-icon"><!--
                <i class="fa fa-twitter"></i>-->
              </div>
              <p class="card-category">More data coming soon!</p>
              <h3 class="card-title"></h3>
            </div>
            <div class="card-footer">
              <div class="stats"><!--
                <i class="material-icons">update</i> Just Updated-->
              </div>
            </div>
          </div>
          <br>
        </div>
      </div>
    </div>
  </div>
<script src = 'bus.js'></script>
</body>
</html>