<!DOCTYPE html>
<html>
  <head>
    <title>404 : No page found </title>
        <% include partials/links.ejs %>
    </head>
    <body>
        <% include partials/nav.ejs %>
    <div class="container-fluid">
      <div class="container">
        <h2 > 404 : No page found </h2>
        <div class="container">
        </div>
      </div>
    </div>
    <script src = "bus.js"></script>
  </body>
</html>
