<!DOCTYPE html>
<html>
<head>
	<title>Timetable</title>
  <% include partials/links.ejs %>
</head>
<body>
    <% include partials/nav.ejs %>
    <div class="boxed">
        <div id = "user-timetable-interaction" style="display: none">
            Stop Location :
            <input type="text" id="enterStopDescription"  placeholder="Stop Description">
        </div>
        <table id="times-table" class="times-table">
 			<tr>
 				<th>Bus route</th>
 				<th>Minutes away</th>
        <th>Expected Arrival Time</th>
        <th>Arrived Yesterday at</th>
        <th>Arrived Last Week at</th>
        <th>Scheduled Arrival Time </th>
 			</tr>
        </table>

    </div>
</body>
  <script src="/bus.js" ></script>
</html>
